DATABASE_URL="postgresql://usuario:password@ep-tu-db-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://usuario:password@ep-tu-db.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
GOOGLE_APPLICATION_CREDENTIALS="C:/secrets/google-vision-service-account.json"
#produccion json en una sola linea:
GOOGLE_APPLICATION_CREDENTIALS_JSON='{"type":"service_account","project_id":"tu-proyecto-gcp","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"tu-service-account@tu-proyecto-gcp.iam.gserviceaccount.com","client_id":"..."}'
GOOGLE_CLOUD_PROJECT="tu-proyecto-gcp"
NEXTAUTH_SECRET="cambia-esto-por-un-secret-largo-y-seguro"
NEXTAUTH_URL="https://lyricord.vercel.app/"
MOBILE_AUTH_SECRET="genera-un-secreto-distinto-de-al-menos-32-caracteres"
REVENUECAT_WEBHOOK_SECRET="authorization-header-configurado-en-revenuecat"
REVENUECAT_WEBHOOK_HMAC_SECRET="signing-secret-hmac-de-revenuecat"
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxx"
PASSWORD_RESET_FROM="Lyricord <no-reply@tu-dominio.com>"
PASSWORD_RESET_REPLY_TO="contacto.lyricord@gmail.com"
#para resend use mi email de hotmail
# resend._domainkey TXT p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLXBV7iJzgrxPpYxTbmZ02IWNkKC/P0uNdD4RnGP/jzenkG3L7wCWTxkWFzTG0iSXWL2/u34In/w3Tihj1RX6dZhZDxv3r7j4s16mmyMYXhEH4yiakMQUKjJZ37VFJvBG6NxBAft9PKjp1J/xpN7PRNmvzV01S5x4f6qbD5FDaIQIDAQAB Auto	
# send MX feedback-smtp.us-east-1.amazonses.com 60	10
# send TXT v=spf1 include:amazonses.com ~all 60	
# _dmarc TXT v=DMARC1; p=none; Auto	
